* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}



.nav {
    display: flex;
    height: 50px;
    margin-bottom: 100px;
    padding: 0px 50px;
    align-items: center;
    justify-content: space-between;
}

.nav .ul {
    display: flex;


}

.nav ul li {
    padding: 0px 20px;
    list-style: none;
}

.criptos h1 {
    width: 450px;
    margin: auto;
    margin-bottom: 60px;
    
}

.criptos ul {
    display: flex;
    list-style: none;
    justify-content: center;

}

.criptos ul li{
    padding: 10px 10px;
    margin-right: 20px;
    border: 3px solid #2eb25d;
    border-radius: 10px;
}

.color {
    color:#2eb25d;
}


.consultas {
    text-align: center;
    margin: 20px;
    font-size: 10px;
}

.footer {
    text-align: center;
    width: 90%;
    margin:auto;
    padding: 30px;
    font-weight:500;
    border-top: 2px solid #ccc;
    padding-top: 75px;
}

.miCurva {
    max-width: 500px;
    max-height: 390px;
    margin: 40px auto ;
    padding: 10px;
}